@charset "UTF-8";

@font-face {
    font-family: 'SFPRO';
    src: url('../fonts/San\ Francisco\ Pro\ Display/SF-Pro-Display-Bold.otf') format(opentype);
}

@font-face {
    font-family: 'SFPRO-TEXT';
    src: url('../fonts/San\ Francisco\ Pro\ Display/SF-Pro-Text-Regular.otf') format(opentype);
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #F5F5F7;

    --font-padrao:'SFPRO', Verdana, cursive ;
    --font-text: 'SFPRO-TEXT', Verdana, cursive ;
}

body {
    background-color: rgb(255, 255, 255);

    font-family: var(--font-text);

    
}

img {
    display: block;

    margin: auto;
    margin-top: 20px;
}

nav {
    text-align: center;

    margin-top: 20px;

    background-color: var(--cor01);

    padding: 6px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0px 40px 20px 0px;

    
}

main {
    margin: auto;
    min-width: 350px;
    max-width: 1800px;
                                                                    
    margin-bottom: 30px;

    padding: 20px;
    
    
}
section  img {

    

    width: 80vw;
    display: block;
    margin: auto;
}

img.size {

    display: block;
    width: 80vw;
    margin: auto;
    
    padding-bottom: 20px;
}

.title {
    font-size: 4em;
    
    
}


div.movie {
   

    
    
    padding-bottom: 56.61%;

    position: relative;
}

div.movie > video {
    position: absolute;
    top: 5%;
    left: 5%;

    width: 90%;
    height: 90%;
}
    
section {

    font-size: 1.5em;
    text-align: justify;

    
}


section.normal {
    background-color: var(--cor01);

    padding: 20px;

}

section.imagem {

    
    background-size: cover;
    background-attachment: fixed;

}

section h1 {
    
    text-align: center;

    color: #F5F5F7;

}



section#img01 {
    background-image: url(../image/mao-segurando-iphone.png);
    
    background-size: cover;
    background-position: center center;
}

section#img02 {
    background-image: url(../image/pessoas-com-iphone.jpg);
    background-size: cover;
    background-position:  center center;

    color: black;
    
}

aside {
    padding: 10px 120px 0px 0px;
    margin-left:120px;
}
aside h1 {
    padding-bottom: 9px;

    font-size: 2em;
}

aside li, p {
    padding-bottom: 7px;
    font-weight: 300;
}

footer{
    text-align: center;

    background-color: var(--cor01);

    padding: 5px;
}

